# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{json}]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[**/*.njk]
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 0

[*.{yml,yaml}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
