{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 190,
    "overrides": [
        {
            "files": "*.svg",
            "options": {
                "parser": "html",
                "printWidth": 120,
                "tabWidth": 2,
                "useTabs": false,
                "proseWrap": "preserve",
                "htmlWhitespaceSensitivity": "strict"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "parser": "scss",
                "printWidth": 120,
                "tabWidth": 2,
                "useTabs": false,
                "proseWrap": "preserve",
                "bracketSpacing": false
            }
        }
    ]
}
