---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://mathjslab.com/</loc>
        <lastmod>{% currentDate 'yyyy-MM-dd' %}</lastmod>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>https://www.mathjslab.com/</loc>
        <lastmod>{% currentDate 'yyyy-MM-dd' %}</lastmod>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>https://app.mathjslab.com/</loc>
        <lastmod>{% currentDate 'yyyy-MM-dd' %}</lastmod>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>https://npm.mathjslab.com/</loc>
        <lastmod>{% currentDate 'yyyy-MM-dd' %}</lastmod>
        <priority>0.8</priority>
    </url>
    <url>
        <loc>https://github.mathjslab.com/</loc>
        <lastmod>{% currentDate 'yyyy-MM-dd' %}</lastmod>
        <priority>0.8</priority>
    </url>
</urlset>
