---json
{
  "permalink": "/sitemap.xml"
}
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    <url>
        <loc>{{ site.url }}/</loc>
        <lastmod>{{
            [
                'site/index.html.njk',
                'data/i18n.js'
            ] | sitemapLastmod
        }}</lastmod>
    </url>
    {% for locale in i18n.locales %}
    <url>
        <loc>{{ site.url }}/{{ locale }}/</loc>
        <lastmod>{{
            [
                'site/' ~ locale ~ '/index.html.njk',
                'includes/layout.njk',
                'data/i18n-' ~ locale ~ '.js'
            ] | sitemapLastmod
        }}</lastmod>
    </url>

    <url>
        <loc>{{ site.url }}/{{ locale }}/app/</loc>
        <lastmod>{{
            [
                'site/' ~ locale ~ '/app/index.html.njk',
                'includes/layout.njk',
                'data/i18n-' ~ locale ~ '.js'
            ] | sitemapLastmod
        }}</lastmod>
    </url>
    {% endfor %}
</urlset>
