    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ main.title }}">
    <meta name="twitter:description" content="{{ main.description }}">
    <meta name="twitter:image" content="{{ site.url }}/images/mathjslab-og.png">
    <meta name="twitter:image:alt" content="{{ site.title }}">
