    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/img/favicon-dark.ico" type="image/x-icon" media="(prefers-color-scheme: dark)">
