{%- from 'includes/head-macros.njk' import headJsonLdGraph, headJsonLdWebPage, headJsonLdWebSite, headJsonLdApplication, headJsonLdPerson, headJsonLdOrganization -%}
{% call headJsonLdGraph() %}
{{ headJsonLdWebPage(
  site.url + '/' + lang + '/#webpage',
  site.url + '/' + lang + '/',
  main.title,
  main.description,
  pageData.htmlLang,
  site.url + '/#website',
  site.url + '/#software'
) }}
{{ headJsonLdWebSite(
  site.url + '/#website',
  site.url + '/',
  site.title,
  site.url + '/#organization'
) }}
{{ headJsonLdApplication(
  'SoftwareApplication',
  site.url + '/#software',
  site.title,
  site.url + '/' + lang + '/',
  pageData.description,
  pageData.htmlLang,
  license = 'https://opensource.org/license/MIT',
  authorId = site.url + '/#author',
  publisherId = site.url + '/#organization',
  offersPrice = '0'
) }}
{{ headJsonLdPerson(site.url + '/#author', 'Sergio Lindau') }}
{{ headJsonLdOrganization(
  site.url + '/#organization',
  site.title,
  site.url + '/',
  site.url + '/images/mathjslab-logo.svg',
  630,
  630,
  ['https://github.com/MathJSLab'],
  comma = false
) }}
{% endcall %}
