    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ main.title }}</title>
    <meta name="description" content="{{ main.description }}">
    <meta name="author" content="{{ pkg.author }}">
    <meta name="keywords" content="{{ pkg.keywords.join() }}">
    {%- if robotsFollow %}
    <meta name="robots" content="index, follow">
    {% endif -%}
