{%- from 'includes/head-macros.njk' import headJsonLdGraph, headJsonLdWebPage, headJsonLdWebSite, headJsonLdApplication, headJsonLdApplicationList, headJsonLdPerson, headJsonLdOrganization -%}
{% call headJsonLdGraph() %}
{{ headJsonLdWebPage(
  site.url + '/' + lang + '/app/#webpage',
  site.url + '/' + lang + '/app/',
  hub.title,
  hub.description,
  pageData.htmlLang,
  site.url + '/#website',
  site.url + '/#software'
) }}
{{ headJsonLdWebSite(
  site.url + '/#website',
  site.url + '/',
  site.title,
  site.url + '/#organization'
) }}
{{ headJsonLdApplication(
  'SoftwareApplication',
  site.url + '/#software',
  site.title,
  site.url + '/' + lang + '/',
  authorId = site.url + '/#author',
  publisherId = site.url + '/#organization'
) }}
{{ headJsonLdApplicationList(
  site.url + '/' + lang + '/app/#applications',
  hub.title,
  hub.apps,
  site.url + '/#organization'
) }}
{{ headJsonLdPerson(site.url + '/#author', 'Sergio Lindau') }}
{{ headJsonLdOrganization(
  site.url + '/#organization',
  site.title,
  site.url + '/',
  site.url + '/images/mathjslab-logo.svg',
  630,
  630,
  ['https://github.com/MathJSLab'],
  comma = false
) }}
{% endcall %}
